[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "coRanking"]
	path = coRanking
	url = https://github.com/gdkrmr/coranking
	shallow = true
	registered = true
